/* common */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  color: #22577a
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

p{
  margin: 0;
  line-height: 1.6
}

p + p {
  margin-top: 16px;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
  /* outline: 2px solid red; */
}

img {
  vertical-align: bottom;
}